In [233]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import csv


PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

driver.get("https://www.numberfire.com/nba/daily-fantasy/daily-basketball-projections#_=_")

In [234]:
driver.implicitly_wait(7)
# /html/body/main/div[2]/div[4]/div/span[2]/a/strong
# /html/body/div[4]/span
driver.find_element_by_xpath("/html/body/main/div[2]/div[4]/div/span[2]/a/strong").click()
driver.implicitly_wait(3)
driver.find_element_by_xpath("/html/body/div[4]/span").click()
driver.implicitly_wait(1)

driver.find_element_by_xpath("/html/body/main/div[2]/div[2]/div/div[2]/div[1]/div/span").click()
driver.implicitly_wait(1)

driver.find_element_by_xpath("/html/body/main/div[2]/div[2]/div/div[2]/div[1]/div/ul/li[2]").click()
driver.implicitly_wait(1)

get_numberfire = driver.find_elements_by_xpath('/html/body/main/div[2]/div[2]/section/div[4]/div[2]/table/tbody')
# get_numberfire = driver.find_elements_by_class_name("team-player cta left-aligned")


# print(get_numberfire.text)

# band_test = test.find_elements_by_tag_name("h3")

dk_numberfire = pd.DataFrame(columns=["names"])

for player in get_numberfire:
    print(player.text)
    dk_numberfire = dk_numberfire.append({"names":player.text}, ignore_index=True)

LeBron James PG/SF
LAL  @  MEM GTD
Sun 6:00pm
60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7
Luka Doncic PG
DAL  @  CHI
Sun 8:00pm
54.7 $10,000 5.47 34.63 27.0 9.6 9.4 1.1 0.4 3.8
Nikola Jokic C
DEN  @  MIN
Sun 7:00pm
51.8 $10,600 4.88 35.32 21.6 11.7 7.5 1.3 0.8 3.6
Russell Westbrook PG
WSH  @  BKN GTD
Sun 6:00pm
50.6 $10,200 4.96 32.67 21.8 9.4 9.8 1.6 0.4 3.3
Kawhi Leonard SF
LAC  @  PHX
Sun 8:00pm
50.5 $9,600 5.26 35.19 26.8 8.5 5.5 2.1 0.6 3.0
Stephen Curry PG
POR  @  GS
Sun 8:30pm
48.3 $9,400 5.14 35.39 28.8 3.9 7.7 1.4 0.3 3.0
Anthony Davis PF/C
LAL  @  MEM
Sun 6:00pm
47.9 $9,700 4.94 34.08 25.3 9.6 3.2 1.2 1.9 2.5
Kevin Durant PF
WSH  @  BKN
Sun 6:00pm
46.1 $9,300 4.95 34.17 25.7 7 5.2 1.1 0.4 2.2
Paul George SG
LAC  @  PHX
Sun 8:00pm
45.1 $8,700 5.18 34.02 23.7 6.5 5.3 1.9 0.4 3.4
Kyrie Irving PG
WSH  @  BKN
Sun 6:00pm
45.0 $9,000 5 33.97 26.7 4.7 5.6 1.3 0.2 2.4
Damian Lillard PG
POR  @  GS
Sun 8:30pm
44.5 $9,800 4.54 35.71 27.0 4.6 6.8 0.8 0.3 2.4
Donovan Mitchell PG/SG
UTAH  @  SA
Sun 7:00pm
43.5 $7,100 6.12 34.82 27.9 4.5 4.4 1.1 0.2 3.0
Bradley Beal SG
WSH  @  BKN
Sun 6:00pm
43.3 $9,100 4.76 35.93 28.1 3.7 5.1 1.3 0.3 2.8
Devin Booker SG
LAC  @  PHX
Sun 8:00pm
39.8 $7,700 5.16 34.29 21.2 4.4 7.9 0.7 0.3 3.8
Zach LaVine SG
DAL  @  CHI
Sun 8:00pm
39.5 $7,300 5.41 34.80 24.4 4.1 4.6 1.4 0.4 3.7
Jamal Murray PG
DEN  @  MIN
Sun 7:00pm
39.0 $7,200 5.41 36.01 23.2 4.4 4.7 1.3 0.4 2.4
C.J. McCollum PG/SG
POR  @  GS
Sun 8:30pm
37.8 $8,400 4.5 35.67 22.8 3.9 4.0 1.0 0.7 1.6
D'Angelo Russell PG/SG
DEN  @  MIN
Sun 7:00pm
37.4 $7,400 5.05 32.07 20.1 3.7 6.3 1.2 0.3 3.5
Chris Paul PG
LAC  @  PHX
Sun 8:00pm
37.3 $7,000 5.33 32.59 16.2 4.6 8.6 1.7 0.1 2.3
DeMar DeRozan SF/PF
UTAH  @  SA
Sun 7:00pm
36.5 $7,500 4.87 34.02 19.5 4.9 6.4 1.0 0.3 2.6
Rudy Gobert C
UTAH  @  SA
Sun 7:00pm
36.1 $7,200 5.02 30.71 14.0 12.3 1.1 0.6 1.6 1.6
Deandre Ayton C
LAC  @  PHX
Sun 8:00pm
35.7 $7,100 5.03 30.27 16.4 10.4 1.5 0.6 1.2 2.1
Dejounte Murray PG
UTAH  @  SA
Sun 7:00pm
35.5 $6,700 5.29 31.06 14.8 6.8 5.5 2.1 0.2 2.3
Will Barton SG/SF
DEN  @  MIN
Sun 7:00pm
34.7 $5,400 6.43 33.34 14.7 7.6 4.6 1.3 0.7 2.1
Thomas Bryant C
WSH  @  BKN
Sun 6:00pm
34.6 $6,600 5.24 32.25 15.5 8.8 1.8 0.7 2.0 1.8
Jonas Valanciunas C
LAL  @  MEM
Sun 6:00pm
33.4 $8,000 4.18 29.07 13.6 10 2.0 0.6 1.0 1.6
Mike Conley PG
UTAH  @  SA
Sun 7:00pm
33.3 $6,900 4.82 33.59 17.8 3 5.6 0.9 0.1 1.9
Dennis Schroder PG/SG
LAL  @  MEM
Sun 6:00pm
32.7 $6,800 4.81 33.39 18.7 2.9 5.6 0.9 0.2 2.4
LaMarcus Aldridge C
UTAH  @  SA GTD
Sun 7:00pm
31.9 $6,200 5.15 30.17 15.2 8.5 1.9 0.4 1.2 1.0
Jusuf Nurkic C
POR  @  GS
Sun 8:30pm
31.9 $6,400 4.98 26.34 13.6 9.2 1.9 0.7 1.4 1.9
Andrew Wiggins SG/SF
POR  @  GS
Sun 8:30pm
31.6 $6,900 4.58 33.52 17.8 5.9 2.6 0.9 0.6 2.1
Bojan Bogdanovic SF/PF
UTAH  @  SA
Sun 7:00pm
31.4 $5,900 5.32 32.49 21.1 4 2.2 0.5 0.1 2.3
Gorgui Dieng C
LAL  @  MEM
Sun 6:00pm
30.8 $3,900 7.9 19.78 13.3 8.2 1.5 1.1 1.1 1.7
Serge Ibaka C
LAC  @  PHX
Sun 8:00pm
30.2 $5,700 5.29 26.48 14.5 7.8 1.5 0.4 1.2 1.7
Coby White PG/SG
DAL  @  CHI
Sun 8:00pm
29.7 $6,200 4.78 34.85 17.2 4.2 3.4 0.8 0.0 2.2
Dillon Brooks SG/SF
LAL  @  MEM
Sun 6:00pm
29.3 $6,300 4.64 31.51 20.3 3.2 1.8 0.8 0.3 1.7
Caris LeVert PG/SG
WSH  @  BKN
Sun 6:00pm
28.8 $6,500 4.43 26.15 15.3 3.3 4.4 1.3 0.3 2.5
Keldon Johnson SG/SF
UTAH  @  SA
Sun 7:00pm
28.5 $6,100 4.67 31.77 16.2 4.9 1.9 1.4 0.3 1.3
Josh Richardson SG/SF
DAL  @  CHI
Sun 8:00pm
28.4 $5,000 5.68 34.65 15.6 3.5 3.4 1.3 0.4 2.3
Wendell Carter Jr. C
DAL  @  CHI
Sun 8:00pm
28.0 $6,000 4.66 30.27 13.0 8.3 1.5 0.7 0.9 1.7
Robert Covington PF
POR  @  GS
Sun 8:30pm
27.6 $5,000 5.53 33.36 9.4 7.5 2.0 1.9 1.4 1.5
Montrezl Harrell C
LAL  @  MEM
Sun 6:00pm
27.5 $6,300 4.36 25.12 14.6 6.9 1.4 0.5 1.0 1.7
Jarrett Allen C
WSH  @  BKN
Sun 6:00pm
27.4 $5,600 4.89 24.12 10.7 9.1 1.3 0.5 1.5 1.3
Kyle Anderson SF/PF
LAL  @  MEM
Sun 6:00pm
27.4 $6,400 4.28 33.01 11.1 7.7 2.3 0.9 0.7 1.5
Lonnie Walker SG
UTAH  @  SA
Sun 7:00pm
27.1 $4,200 6.44 31.63 15.3 4.6 2.1 0.9 0.2 1.3
Mikal Bridges SF
LAC  @  PHX
Sun 8:00pm
27.1 $5,800 4.66 35.26 11.6 5.2 2.0 1.4 0.9 1.2
Ricky Rubio PG
DEN  @  MIN
Sun 7:00pm
26.9 $5,000 5.39 28.64 9.0 4.1 7.5 1.4 0.1 2.9
Rudy Gay SF/PF
UTAH  @  SA
Sun 7:00pm
26.5 $5,100 5.2 25.52 12.9 6.2 2.0 0.7 0.8 1.5
Carmelo Anthony PF
POR  @  GS
Sun 8:30pm
26.5 $4,300 6.16 24.05 14.3 5.9 1.8 0.9 0.6 1.8
Jordan Clarkson PG/SG
UTAH  @  SA
Sun 7:00pm
26.0 $4,800 5.41 23.88 16.7 2.6 2.2 0.8 0.1 1.4
Tim Hardaway Jr. SG
DAL  @  CHI
Sun 8:00pm
25.6 $5,800 4.41 31.19 16.2 3.3 2.0 0.7 0.1 1.0
Joe Ingles SG/SF
UTAH  @  SA
Sun 7:00pm
25.6 $4,700 5.44 28.90 10.9 3.4 5.4 0.7 0.1 1.8
Naz Reid C
DEN  @  MIN
Sun 7:00pm
25.4 $5,500 4.61 27.45 12.1 5.9 1.5 0.9 1.2 1.1
Kelly Oubre SF/PF
POR  @  GS
Sun 8:30pm
25.3 $6,000 4.22 30.65 13.8 5.4 1.3 1.0 0.7 1.2
Timothe Luwawu-Cabarrot SF
WSH  @  BKN
Sun 6:00pm
25.2 $3,300 7.62 24.49 14.3 4.2 1.1 0.8 0.2 0.8
Malik Beasley SG
DEN  @  MIN
Sun 7:00pm
24.9 $5,900 4.22 32.84 14.8 3.9 1.7 0.7 0.2 1.5
Otto Porter SF/PF
DAL  @  CHI
Sun 8:00pm
24.6 $6,200 3.97 28.94 13.0 4.5 2.0 1.2 0.4 1.1
Paul Millsap PF/C
DEN  @  MIN
Sun 7:00pm
24.5 $4,500 5.45 28.95 10.5 5.7 2.0 1.0 0.9 1.1
Anthony Edwards SG/SF
DEN  @  MIN
Sun 7:00pm
24.4 $5,200 4.7 24.37 12.7 4.5 1.5 1.4 0.5 1.4
Thaddeus Young PF
DAL  @  CHI
Sun 8:00pm
24.2 $3,900 6.21 26.44 11.2 4.9 2.1 1.5 0.4 1.4
Jae Crowder SF/PF
LAC  @  PHX
Sun 8:00pm
23.5 $4,900 4.8 29.56 10.6 5.4 2.0 1.0 0.6 1.2
Derrick Jones Jr. SF/PF
POR  @  GS
Sun 8:30pm
23.4 $4,600 5.09 30.66 9.7 5.2 1.2 1.2 0.8 0.8
Joe Harris SG/SF
WSH  @  BKN
Sun 6:00pm
23.0 $5,700 4.04 30.05 12.3 4.2 1.9 0.7 0.3 1.4
Enes Kanter C
POR  @  GS
Sun 8:30pm
22.9 $4,900 4.66 20.37 9.4 7.2 0.9 0.5 1.2 0.6
Dorian Finney-Smith SF/PF
DAL  @  CHI
Sun 8:00pm
22.5 $4,200 5.36 30.29 10.0 6 1.6 0.6 0.6 1.0
James Wiseman C
POR  @  GS GTD
Sun 8:30pm
22.2 $5,200 4.26 22.11 12.2 3.6 1.5 0.8 0.4 1.2
Davis Bertans PF
WSH  @  BKN
Sun 6:00pm
22.0 $4,700 4.69 23.36 12.5 3.5 1.3 0.7 0.3 1.1
Brandon Clarke PF/C
LAL  @  MEM
Sun 6:00pm
21.9 $5,400 4.05 25.99 9.2 7 1.1 0.5 0.9 1.1
Kyle Kuzma SF/PF
LAL  @  MEM
Sun 6:00pm
21.7 $5,600 3.88 22.51 12.4 4.1 1.4 0.6 0.3 1.3
Draymond Green PF/C
POR  @  GS
Sun 8:30pm
21.7 $5,800 3.74 21.58 7.7 3.9 4.5 1.1 0.4 1.9
Monte Morris PG
DEN  @  MIN
Sun 7:00pm
21.5 $4,600 4.68 26.27 10.1 2.5 4.4 0.9 0.1 1.2
Tyus Jones PG
LAL  @  MEM
Sun 6:00pm
21.5 $5,400 3.98 30.65 8.4 2 5.8 1.2 0.1 1.4
Trey Burke PG/SG
DAL  @  CHI
Sun 8:00pm
21.3 $3,400 6.27 21.85 11.2 1.7 3.6 0.9 0.1 1.0
Nicolas Batum SF/PF
LAC  @  PHX
Sun 8:00pm
21.2 $4,800 4.42 33.88 7.0 4 4.4 0.9 0.4 1.4
Lou Williams PG/SG
LAC  @  PHX
Sun 8:00pm
20.8 $4,600 4.53 24.19 10.9 2.1 4.0 0.5 0.2 1.8
Rui Hachimura PF
WSH  @  BKN
Sun 6:00pm
20.8 $5,200 4 25.51 11.0 4.9 1.5 0.7 0.2 1.1
Patrick Beverley PG
LAC  @  PHX
Sun 8:00pm
20.8 $3,900 5.33 27.46 7.0 3.6 3.5 1.2 0.6 1.5
Gary Harris SG/SF
DEN  @  MIN
Sun 7:00pm
20.6 $3,800 5.41 33.37 9.4 3.7 2.2 1.6 0.3 1.1
DeAndre Jordan C
WSH  @  BKN
Sun 6:00pm
20.4 $4,800 4.24 17.72 6.7 7.6 1.3 0.4 1.0 1.2
Cameron Johnson SF/PF
LAC  @  PHX
Sun 8:00pm
20.1 $4,100 4.91 21.89 11.9 3.3 1.3 0.7 0.3 0.6
Garrett Temple SG/SF
DAL  @  CHI
Sun 8:00pm
20.1 $3,600 5.59 23.09 10.7 3.5 1.7 0.7 0.2 0.9
Dwight Powell C
DAL  @  CHI
Sun 8:00pm
19.6 $4,300 4.55 26.57 7.7 5.8 1.4 0.6 0.7 0.9
Cameron Payne PG
LAC  @  PHX
Sun 8:00pm
19.3 $4,200 4.59 16.25 9.5 2.7 2.9 0.8 0.3 1.4
Jakob Poeltl C
UTAH  @  SA
Sun 7:00pm
19.3 $4,500 4.28 18.67 5.5 5.9 1.8 0.6 1.4 0.6
Royce O'Neale SF/PF
UTAH  @  SA GTD
Sun 7:00pm
19.2 $4,400 4.36 33.72 4.9 6.1 2.9 0.8 0.6 1.0
Patrick Mills PG/SG
UTAH  @  SA
Sun 7:00pm
19.2 $3,700 5.18 23.06 12.5 1.6 1.4 0.9 0.0 1.0
Patrick Williams SF/PF
DAL  @  CHI
Sun 8:00pm
19.1 $4,300 4.43 23.31 9.5 3.4 1.9 0.9 0.4 1.2
Deni Avdija SF/PF
WSH  @  BKN
Sun 6:00pm
18.8 $5,300 3.54 24.90 7.6 4.5 1.3 1.1 0.6 1.4
Maxi Kleber PF/C
DAL  @  CHI
Sun 8:00pm
18.5 $4,000 4.62 21.97 8.1 4.9 0.9 0.4 0.9 0.8
De'Anthony Melton PG/SG
LAL  @  MEM
Sun 6:00pm
18.3 $3,700 4.93 24.25 6.8 3.6 2.9 1.1 0.3 1.2
Luke Kennard SG/SF
LAC  @  PHX
Sun 8:00pm
18.1 $3,600 5.03 20.05 10.4 1.9 2.8 0.5 0.1 1.2
Ivica Zubac C
LAC  @  PHX
Sun 8:00pm
18.0 $4,400 4.08 15.84 8.2 5.6 0.8 0.3 0.6 0.5
Marc Gasol C
LAL  @  MEM
Sun 6:00pm
17.8 $4,200 4.24 20.42 5.9 4.9 2.0 0.8 0.9 1.2
Kentavious Caldwell-Pope SG/SF
LAL  @  MEM GTD
Sun 6:00pm
17.3 $3,900 4.42 26.88 10.0 2.2 1.4 0.8 0.2 0.9
Gary Trent Jr. SG/SF
POR  @  GS GTD
Sun 8:30pm
17.2 $4,500 3.82 23.12 10.3 1.9 1.1 0.8 0.2 0.8
P.J. Dozier SG/SF
DEN  @  MIN
Sun 7:00pm
17.2 $3,400 5.05 22.10 9.1 2.3 3.1 0.4 0.2 1.7
Derrick Favors C
UTAH  @  SA GTD
Sun 7:00pm
17.2 $4,000 4.29 17.09 6.7 6.8 0.8 0.2 0.4 0.9
Denzel Valentine SG
DAL  @  CHI
Sun 8:00pm
17.1 $3,300 5.17 16.77 9.1 2.5 1.2 0.8 0.4 0.8
Taurean Prince SF/PF
WSH  @  BKN
Sun 6:00pm
16.8 $3,200 5.26 18.34 8.0 4.1 1.1 0.9 0.2 1.2
Markieff Morris PF/C
LAL  @  MEM
Sun 6:00pm
16.2 $3,300 4.92 16.65 8.6 3.5 1.2 0.4 0.1 1.2
Eric Paschall SF/PF
POR  @  GS
Sun 8:30pm
15.8 $4,000 3.94 15.83 9.1 2.9 1.5 0.4 0.1 0.9
Juan Hernangomez PF
DEN  @  MIN
Sun 7:00pm
15.7 $3,200 4.89 16.31 5.7 5 1.5 0.8 0.2 1.1
Jarrett Culver PF
DEN  @  MIN
Sun 7:00pm
15.6 $4,100 3.81 28.18 7.4 3.1 1.5 0.8 0.5 1.0
Daniel Gafford C
DAL  @  CHI
Sun 8:00pm
15.5 $3,400 4.56 18.60 6.0 4.4 0.8 0.4 1.2 0.8
Brad Wanamaker PG
POR  @  GS
Sun 8:30pm
15.4 $3,200 4.81 16.20 6.8 2 2.6 1.0 0.2 0.9
Damion Lee PG/SG
POR  @  GS
Sun 8:30pm
14.7 $3,500 4.2 17.37 8.2 2 1.5 0.6 0.1 0.7
JaMychal Green PF
DEN  @  MIN
Sun 7:00pm
14.7 $3,400 4.31 16.77 5.5 4 0.7 0.7 0.7 0.7
Robin Lopez C
WSH  @  BKN
Sun 6:00pm
13.9 $3,700 3.76 16.81 6.2 3.8 0.8 0.2 0.9 1.3
Dario Saric PF/C
LAC  @  PHX GTD
Sun 8:00pm
13.8 $3,800 3.63 16.72 6.8 3.9 1.0 0.2 0.1 0.8
Landry Shamet SG
WSH  @  BKN
Sun 6:00pm
13.6 $3,200 4.26 18.98 7.1 2.3 1.2 0.5 0.3 0.5
Raul Neto PG/SG
WSH  @  BKN
Sun 6:00pm
13.2 $4,000 3.3 16.24 6.1 1.8 2.2 0.7 0.0 1.1
Troy Brown SG/SF
WSH  @  BKN
Sun 6:00pm
12.4 $3,300 3.77 13.94 5.3 2.9 1.3 0.7 0.1 0.5
Ish Smith PG
WSH  @  BKN
Sun 6:00pm
12.1 $4,400 2.75 13.34 4.6 1.8 2.5 0.5 0.3 0.7
James Johnson SF/PF
DAL  @  CHI
Sun 8:00pm
11.9 $3,700 3.21 12.89 4.3 2.5 1.7 0.7 0.5 1.0
Grayson Allen SG
LAL  @  MEM GTD
Sun 6:00pm
11.7 $3,500 3.33 27.51 6.7 2.2 1.0 0.2 0.1 0.9
Jalen Brunson PG
DAL  @  CHI
Sun 8:00pm
11.5 $3,300 3.49 13.90 5.5 1.7 2.4 0.3 0.1 1.0
Jordan McLaughlin PG
DEN  @  MIN
Sun 7:00pm
11.5 $3,000 3.83 13.54 4.1 1.4 2.9 0.8 0.1 1.0
Trey Lyles PF/C
UTAH  @  SA
Sun 7:00pm
11.5 $3,000 3.83 14.22 4.6 3.3 0.4 0.4 0.4 0.4
Juan Toscano-Anderson PF
POR  @  GS
Sun 8:30pm
10.9 $3,400 3.21 14.00 4.6 1.9 1.3 0.7 0.4 0.8
Ed Davis C
DEN  @  MIN
Sun 7:00pm
10.2 $3,300 3.09 15.55 3.7 4.6 0.2 0.2 0.1 0.3
Mychal Mulder SG
POR  @  GS
Sun 8:30pm
9.9 $3,000 3.28 12.10 5.5 1.6 0.8 0.2 0.1 0.3
Jevon Carter PG/SG
LAC  @  PHX
Sun 8:00pm
9.8 $3,000 3.27 15.84 4.4 1.6 0.8 0.8 0.4 0.4
Jake Layman SF/PF
DEN  @  MIN
Sun 7:00pm
9.8 $3,500 2.79 16.65 4.4 2 1.0 0.5 0.3 0.5
Talen Horton-Tucker SF
LAL  @  MEM
Sun 6:00pm
9.6 $3,100 3.1 11.69 4.3 1.2 1.2 0.7 0.2 0.4
Kevon Looney C
POR  @  GS
Sun 8:30pm
9.3 $3,300 2.82 11.47 3.2 2.8 0.7 0.5 0.4 0.5
Jeff Green PF/C
WSH  @  BKN
Sun 6:00pm
9.2 $3,100 2.96 10.91 4.9 1.7 0.5 0.4 0.3 0.5
Reggie Jackson PG
LAC  @  PHX
Sun 8:00pm
8.9 $3,600 2.47 10.22 4.6 1.2 1.6 0.2 0.0 0.6
Wesley Matthews SG
LAL  @  MEM
Sun 6:00pm
8.1 $3,300 2.45 16.25 4.4 1.4 1.0 0.3 0.1 0.7
Willie Cauley-Stein C
DAL  @  CHI
Sun 8:00pm
8.0 $3,200 2.51 12.01 3.2 2.9 0.2 0.1 0.4 0.2
Langston Galloway PG/SG
LAC  @  PHX
Sun 8:00pm
7.6 $3,000 2.53 8.21 4.4 0.8 0.5 0.3 0.1 0.3
John Konchar SG/SF
LAL  @  MEM
Sun 6:00pm
6.7 $3,500 1.9 9.54 3.1 1.6 0.7 0.2 0.1 0.4
Anfernee Simons PG/SG
POR  @  GS
Sun 8:30pm
6.0 $3,100 1.94 7.93 3.2 1 0.5 0.3 0.1 0.5
Isaiah Hartenstein C
DEN  @  MIN
Sun 7:00pm
4.0 $3,000 1.33 4.16 1.7 1.3 0.1 0.1 0.2 0.2
Georges Niang SF/PF
UTAH  @  SA
Sun 7:00pm
3.1 $3,000 1.02 5.28 2.0 0.6 0.2 0.0 0.0 0.0
Facundo Campazzo PG/SG
DEN  @  MIN
Sun 7:00pm
2.4 $3,000 0.8 6.03 1.3 0.4 0.4 0.0 0.0 0.4
Josh Green SF
DAL  @  CHI
Sun 8:00pm
1.6 $3,000 0.54 1.11 0.9 0.3 0.1 0.0 0.0 0.1
Tre Jones PG
UTAH  @  SA
Sun 7:00pm
1.4 $3,000 0.45 0.12 0.9 0 0.0 0.0 0.0 0.0
Anthony Gill PF
WSH  @  BKN
Sun 6:00pm
1.2 $3,000 0.4 0.11 0.8 0 0.0 0.0 0.0 0.0
Frank Kaminsky PF/C
LAC  @  PHX
Sun 8:00pm
1.0 $3,100 0.31 0.87 0.4 0.3 0.1 0.0 0.0 0.0
Patrick Patterson PF/C
LAC  @  PHX
Sun 8:00pm
1.0 $3,200 0.3 4.14 0.4 0.3 0.1 0.0 0.0 0.0
Xavier Tillman PF/C
LAL  @  MEM OUT
Sun 6:00pm
0.8 $3,000 0.25 0.12 0.5 0 0.0 0.0 0.0 0.0
Sean McDermott SF
LAL  @  MEM
Sun 6:00pm
0.8 $3,000 0.25 0.11 0.5 0 0.0 0.0 0.0 0.0
Isaac Bonga SF/PF
WSH  @  BKN
Sun 6:00pm
0.7 $3,000 0.23 0.91 0.3 0.2 0.1 0.0 0.0 0.1
Devin Vassell SF/PF
UTAH  @  SA
Sun 7:00pm
0.6 $3,000 0.19 0.78 0.3 0.1 0.1 0.0 0.0 0.0
Jordan Poole PG/SG
POR  @  GS
Sun 8:30pm
0.6 $3,100 0.19 0.60 0.3 0.1 0.1 0.0 0.0 0.0
E'Twaun Moore SG/SF
LAC  @  PHX
Sun 8:00pm
0.6 $3,000 0.19 0.71 0.3 0.1 0.1 0.0 0.0 0.0
Boban Marjanovic C
DAL  @  CHI
Sun 8:00pm
0.6 $3,100 0.18 0.46 0.3 0.2 0.0 0.0 0.0 0.0
Harry Giles C
POR  @  GS
Sun 8:30pm
0.5 $3,100 0.15 0.47 0.3 0.1 0.0 0.0 0.0 0.0
Drew Eubanks C
UTAH  @  SA
Sun 7:00pm
0.5 $3,500 0.13 0.53 0.2 0.2 0.0 0.0 0.0 0.0
Daniel Oturu C
LAC  @  PHX
Sun 8:00pm
0.4 $3,000 0.13 0.09 0.3 0 0.0 0.0 0.0 0.0
Tyler Johnson PG/SG
WSH  @  BKN
Sun 6:00pm
0.4 $3,000 0.13 0.50 0.2 0.1 0.0 0.0 0.0 0.0
Terance Mann PG/SG
LAC  @  PHX
Sun 8:00pm
0.4 $3,000 0.13 0.50 0.1 0.1 0.1 0.0 0.0 0.0
Nicolas Claxton C
WSH  @  BKN OUT
Sun 6:00pm
0.3 $3,000 0.11 0.61 0.2 0.1 0.0 0.0 0.0 0.0
Luka Samanic PF
UTAH  @  SA
Sun 7:00pm
0.3 $3,000 0.11 0.45 0.2 0.1 0.0 0.0 0.0 0.0
Jerome Robinson SG/SF
WSH  @  BKN
Sun 6:00pm
0.3 $3,200 0.1 0.67 0.2 0.1 0.0 0.0 0.0 0.0
Juwan Morgan PF
UTAH  @  SA
Sun 7:00pm
0.2 $3,000 0.08 0.37 0.1 0.1 0.0 0.0 0.0 0.0
Luke Kornet C
DAL  @  CHI
Sun 8:00pm
0.2 $3,000 0.08 0.45 0.1 0.1 0.0 0.0 0.0 0.0
Quinn Cook PG
LAL  @  MEM
Sun 6:00pm
0.2 $3,000 0.07 0.42 0.2 0 0.0 0.0 0.0 0.0
Miye Oni SG
UTAH  @  SA
Sun 7:00pm
0.2 $3,000 0.05 0.23 0.1 0 0.0 0.0 0.0 0.0
Alfonzo McKinnie SF/PF
LAL  @  MEM
Sun 6:00pm
0.2 $3,000 0.05 0.12 0.1 0 0.0 0.0 0.0 0.0
Jaden McDaniels PF
DEN  @  MIN
Sun 7:00pm
0.2 $3,000 0.05 0.13 0.1 0 0.0 0.0 0.0 0.0
Markus Howard PG
DEN  @  MIN
Sun 7:00pm
0.2 $3,000 0.05 0.09 0.1 0 0.0 0.0 0.0 0.0
Bol Bol C
DEN  @  MIN
Sun 7:00pm
0.1 $3,000 0.03 0.14 0.1 0 0.0 0.0 0.0 0.0
Rodions Kurucs PF/C
WSH  @  BKN
Sun 6:00pm
0.1 $3,000 0.03 0.27 0.1 0 0.0 0.0 0.0 0.0
Moritz Wagner C
WSH  @  BKN
Sun 6:00pm
0.1 $3,000 0.03 0.26 0.1 0 0.0 0.0 0.0 0.0
Zeke Nnaji PF/C
DEN  @  MIN
Sun 7:00pm
0.1 $3,000 0.03 0.12 0.1 0 0.0 0.0 0.0 0.0
Bruce Brown Jr. PG/SG
WSH  @  BKN
Sun 6:00pm
0.1 $3,000 0.03 0.24 0.1 0 0.0 0.0 0.0 0.0
Kent Bazemore SF
POR  @  GS
Sun 8:30pm
0.1 $3,100 0.03 0.13 0.1 0 0.0 0.0 0.0 0.0
R.J. Hampton PG/SG
DEN  @  MIN
Sun 7:00pm
0.1 $3,000 0.03 0.12 0.1 0 0.0 0.0 0.0 0.0
Wesley Iwundu SF/PF
DAL  @  CHI
Sun 8:00pm
0.1 $3,000 0.03 0.25 0.1 0 0.0 0.0 0.0 0.0
Nassir Little SF/PF
POR  @  GS GTD
Sun 8:30pm
0.1 $3,000 0.03 0.20 0.1 0 0.0 0.0 0.0 0.0
Jalen Smith PF/C
LAC  @  PHX OUT
Sun 8:00pm
0.1 $3,000 0.03 0.27 0.1 0 0.0 0.0 0.0 0.0
Josh Okogie SF
DEN  @  MIN GTD
Sun 7:00pm
0.0 $3,400 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Jarred Vanderbilt PF/C
DEN  @  MIN
Sun 7:00pm
0.0 $3,600 0 3.87 0.0 0 0.0 0.0 0.0 0.0
Jaylen Nowell PG/SG
DEN  @  MIN OUT
Sun 7:00pm
0.0 $3,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Shaquille Harrison PG
UTAH  @  SA
Sun 7:00pm
0.0 $3,000 0 0.13 0.0 0 0.0 0.0 0.0 0.0
Derrick White PG/SG
UTAH  @  SA OUT
Sun 7:00pm
0.0 $5,100 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Michael Porter Jr. SF/PF
DEN  @  MIN GTD
Sun 7:00pm
0.0 $7,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Karl-Anthony Towns C
DEN  @  MIN OUT
Sun 7:00pm
0.0 $9,900 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Alex Caruso PG/SG
LAL  @  MEM GTD
Sun 6:00pm
0.0 $3,200 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Jared Dudley SF/PF
LAL  @  MEM
Sun 6:00pm
0.0 $3,000 0 0.17 0.0 0 0.0 0.0 0.0 0.0
Devontae Cacok PF
LAL  @  MEM
Sun 6:00pm
0.0 $3,000 0 0.12 0.0 0 0.0 0.0 0.0 0.0
Udoka Azubuike C
UTAH  @  SA
Sun 7:00pm
0.0 $3,000 0 0.17 0.0 0 0.0 0.0 0.0 0.0
Chris Chiozza PG
WSH  @  BKN
Sun 6:00pm
0.0 $3,000 0 0.13 0.0 0 0.0 0.0 0.0 0.0
Vlatko Cancar SF
DEN  @  MIN
Sun 7:00pm
0.0 $3,000 0 0.09 0.0 0 0.0 0.0 0.0 0.0
Tyrell Terry PG/SG
DAL  @  CHI
Sun 8:00pm
0.0 $3,000 0 0.09 0.0 0 0.0 0.0 0.0 0.0
Chandler Hutchison SF
DAL  @  CHI GTD
Sun 8:00pm
0.0 $3,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Ryan Arcidiacono PG
DAL  @  CHI GTD
Sun 8:00pm
0.0 $3,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Rodney Hood SG/SF
POR  @  GS GTD
Sun 8:30pm
0.0 $3,100 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Alen Smailagic PF/C
POR  @  GS GTD
Sun 8:30pm
0.0 $3,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
C.J. Elleby SG
POR  @  GS
Sun 8:30pm
0.0 $3,000 0 0.10 0.0 0 0.0 0.0 0.0 0.0
Lauri Markkanen PF
DAL  @  CHI GTD
Sun 8:00pm
0.0 $5,700 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Tomas Satoransky PG
DAL  @  CHI GTD
Sun 8:00pm
0.0 $4,300 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Marcus Morris SF/PF
LAC  @  PHX GTD
Sun 8:00pm
0.0 $5,500 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Damian Jones C
LAC  @  PHX
Sun 8:00pm
0.0 $3,000 0 0.11 0.0 0 0.0 0.0 0.0 0.0
Abdel Nader SF
LAC  @  PHX GTD
Sun 8:00pm
0.0 $3,000 0 0.00 0.0 0 0.0 0.0 0.0 0.0
Cristiano Felicio C
DAL  @  CHI
Sun 8:00pm
0.0 $3,000 0 0.12 0.0 0 0.0 0.0 0.0 0.0
Elijah Hughes SF
UTAH  @  SA
Sun 7:00pm
0.0 $3,000 0 0.10 0.0 0 0.0 0.0 0.0 0.0

In [235]:
df_main = dk_numberfire
df_main.dtypes
# df_main = np.array(df_main)

df_main

                                               names
0  LeBron James PG/SF\nLAL  @  MEM GTD\nSun 6:00p...

In [236]:
df_main = df_main.names.str.split("\n")
df_main

0    [LeBron James PG/SF, LAL  @  MEM GTD, Sun 6:00...
Name: names, dtype: object

In [237]:
# df_main.assign(Book=df_main.names.str.split("")).explode('Book')

In [238]:
import numpy as np

df_main = df_main.explode('names')
df_main = df_main.to_frame()
df_main['row_num'] = np.arange(len(df_main))
df_main.head(10)

                                               names  row_num
0                                 LeBron James PG/SF        0
1                                    LAL  @  MEM GTD        1
2                                         Sun 6:00pm        2
3  60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7        3
4                                     Luka Doncic PG        4
5                                        DAL  @  CHI        5
6                                         Sun 8:00pm        6
7   54.7 $10,000 5.47 34.63 27.0 9.6 9.4 1.1 0.4 3.8        7
8                                     Nikola Jokic C        8
9                                        DEN  @  MIN        9

In [239]:

df_main['row_desc'] = np.select(
    [
        df_main.names.str.contains('Jr', regex=False, na=False), 
        df_main.names.str.contains('.', regex=False, na=False), 
        df_main.names.str.contains('@', regex=False, na=False), 
        df_main.names.str.contains('pm', regex=False, na=False), 
        # df_main.names.str.contains('PG', regex=False), 
        # df_main.names.str.contains('SG', regex=False), 
        # df_main.names.str.contains('SF', regex=False), 
        # df_main.names.str.contains('PF', regex=False), 
        # df_main.names.str.contains('C', regex=False), 
    ], 
    [
        'player',
        'stats',
        'game_info',
        'game_time'
        # ' PG'
        # ' SG'
        # ' SF'
        # ' PF'
        # ' C'
    ], 
    default='player'
)

df_main

                                                 names  row_num   row_desc
0                                   LeBron James PG/SF        0     player
1                                      LAL  @  MEM GTD        1  game_info
2                                           Sun 6:00pm        2  game_time
3    60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7        3      stats
4                                       Luka Doncic PG        4     player
..                                                 ...      ...        ...
787            0.0 $3,000 0 0.12 0.0 0 0.0 0.0 0.0 0.0      787      stats
788                                   Elijah Hughes SF      788     player
789                                        UTAH  @  SA      789  game_info
790                                         Sun 7:00pm      790  game_time
791            0.0 $3,000 0 0.10 0.0 0 0.0 0.0 0.0 0.0      791      stats

[792 rows x 3 columns]

In [240]:
# df_main_pivot = pd.DataFrame({'names':df_main})

# player
df_main_pivot = df_main
df_main_pivot = df_main_pivot.pivot(index='row_num', columns='row_desc', values='names')

df_main_pivot

row_desc,game_info,game_time,player,stats
row_num,,,,
0,NaN,NaN,LeBron James PG/SF,NaN
1,LAL @ MEM GTD,NaN,NaN,NaN
2,NaN,Sun 6:00pm,NaN,NaN
3,NaN,NaN,NaN,"60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7"
4,NaN,NaN,Luka Doncic PG,NaN
...,...,...,...,...
787,NaN,NaN,NaN,"0.0 $3,000 0 0.12 0.0 0 0.0 0.0 0.0 0.0"
788,NaN,NaN,Elijah Hughes SF,NaN
789,UTAH @ SA,NaN,NaN,NaN
790,NaN,Sun 7:00pm,NaN,NaN
791,NaN,NaN,NaN,"0.0 $3,000 0 0.10 0.0 0 0.0 0.0 0.0 0.0"

In [241]:
df_main_pivot_names = df_main_pivot['player']
df_main_pivot_stats = df_main_pivot['stats']
df_main_pivot_names = df_main_pivot_names.dropna()
df_main_pivot_stats = df_main_pivot_stats.dropna()
df_main_join = pd.concat([df_main_pivot_names, df_main_pivot_stats], axis=1).reset_index()
df_main_join['tag_row'] = np.where(df_main_join['player'].isnull(), 'stats', 'player')
df_main_join.head(20)

,row_num,player,stats,tag_row
0,0,LeBron James PG/SF,NaN,player
1,3,NaN,"60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7",stats
2,4,Luka Doncic PG,NaN,player
3,7,NaN,"54.7 $10,000 5.47 34.63 27.0 9.6 9.4 1.1 0.4 3.8",stats
4,8,Nikola Jokic C,NaN,player
5,11,NaN,"51.8 $10,600 4.88 35.32 21.6 11.7 7.5 1.3 0.8 3.6",stats
6,12,Russell Westbrook PG,NaN,player
7,15,NaN,"50.6 $10,200 4.96 32.67 21.8 9.4 9.8 1.6 0.4 3.3",stats
8,16,Kawhi Leonard SF,NaN,player
9,19,NaN,"50.5 $9,600 5.26 35.19 26.8 8.5 5.5 2.1 0.6 3.0",stats
10,20,Stephen Curry PG,NaN,player
11,23,NaN,"48.3 $9,400 5.14 35.39 28.8 3.9 7.7 1.4 0.3 3.0",stats
12,24,Anthony Davis PF/C,NaN,player
13,27,NaN,"47.9 $9,700 4.94 34.08 25.3 9.6 3.2 1.2 1.9 2.5",stats
14,28,Kevin Durant PF,NaN,player
15,31,NaN,"46.1 $9,300 4.95 34.17 25.7 7 5.2 1.1 0.4 2.2",stats
16,32,Paul George SG,NaN,player
17,35,NaN,"45.1 $8,700 5.18 34.02 23.7 6.5 5.3 1.9 0.4 3.4",stats
18,36,Kyrie Irving PG,NaN,player
19,39,NaN,"45.0 $9,000 5 33.97 26.7 4.7 5.6 1.3 0.2 2.4",stats

In [242]:
df_main_join_fill = df_main_join.fillna(method='ffill')
df_main_join_fill.head(30)
df_main_join_fill.to_csv("check_players_no_issues.csv", sep = ',')

In [243]:
df_drop = df_main_join_fill
df_analysis = df_drop.drop_duplicates(subset=['player'], keep = 'last', inplace=False)
df_analysis.head(10)

,row_num,player,stats,tag_row
1,3,LeBron James PG/SF,"60.4 $10,100 5.98 34.33 28.4 8.7 10.3 1.4 0.9 4.7",stats
3,7,Luka Doncic PG,"54.7 $10,000 5.47 34.63 27.0 9.6 9.4 1.1 0.4 3.8",stats
5,11,Nikola Jokic C,"51.8 $10,600 4.88 35.32 21.6 11.7 7.5 1.3 0.8 3.6",stats
7,15,Russell Westbrook PG,"50.6 $10,200 4.96 32.67 21.8 9.4 9.8 1.6 0.4 3.3",stats
9,19,Kawhi Leonard SF,"50.5 $9,600 5.26 35.19 26.8 8.5 5.5 2.1 0.6 3.0",stats
11,23,Stephen Curry PG,"48.3 $9,400 5.14 35.39 28.8 3.9 7.7 1.4 0.3 3.0",stats
13,27,Anthony Davis PF/C,"47.9 $9,700 4.94 34.08 25.3 9.6 3.2 1.2 1.9 2.5",stats
15,31,Kevin Durant PF,"46.1 $9,300 4.95 34.17 25.7 7 5.2 1.1 0.4 2.2",stats
17,35,Paul George SG,"45.1 $8,700 5.18 34.02 23.7 6.5 5.3 1.9 0.4 3.4",stats
19,39,Kyrie Irving PG,"45.0 $9,000 5 33.97 26.7 4.7 5.6 1.3 0.2 2.4",stats

In [244]:
df_analysis_stats = df_analysis['stats'].str.split(" ", expand = True)
df_analysis_players = df_analysis['player']
df_analysis_clean = df_analysis_stats.join(df_analysis_players, how='outer')
df_analysis_clean

,0,1,2,3,4,5,6,7,8,9,player
1,60.4,"$10,100",5.98,34.33,28.4,8.7,10.3,1.4,0.9,4.7,LeBron James PG/SF
3,54.7,"$10,000",5.47,34.63,27.0,9.6,9.4,1.1,0.4,3.8,Luka Doncic PG
5,51.8,"$10,600",4.88,35.32,21.6,11.7,7.5,1.3,0.8,3.6,Nikola Jokic C
7,50.6,"$10,200",4.96,32.67,21.8,9.4,9.8,1.6,0.4,3.3,Russell Westbrook PG
9,50.5,"$9,600",5.26,35.19,26.8,8.5,5.5,2.1,0.6,3.0,Kawhi Leonard SF
...,...,...,...,...,...,...,...,...,...,...,...
387,0.0,"$5,500",0,0.00,0.0,0,0.0,0.0,0.0,0.0,Marcus Morris SF/PF
389,0.0,"$3,000",0,0.11,0.0,0,0.0,0.0,0.0,0.0,Damian Jones C
391,0.0,"$3,000",0,0.00,0.0,0,0.0,0.0,0.0,0.0,Abdel Nader SF
393,0.0,"$3,000",0,0.12,0.0,0,0.0,0.0,0.0,0.0,Cristiano Felicio C
395,0.0,"$3,000",0,0.10,0.0,0,0.0,0.0,0.0,0.0,Elijah Hughes SF

In [245]:
import pandas as pd

def f(var):
    if isinstance(var, pd.DataFrame):
        print("do stuff")

In [246]:
f(df_analysis_clean)

do stuff

In [247]:
df_analysis_clean.columns = ['FP', 'SALARY', 'VALUE', 'MIN', 'PTS', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PLAYER_NAME']

df_analysis_clean

,FP,SALARY,VALUE,MIN,PTS,REB,AST,STL,BLK,TO,PLAYER_NAME
1,60.4,"$10,100",5.98,34.33,28.4,8.7,10.3,1.4,0.9,4.7,LeBron James PG/SF
3,54.7,"$10,000",5.47,34.63,27.0,9.6,9.4,1.1,0.4,3.8,Luka Doncic PG
5,51.8,"$10,600",4.88,35.32,21.6,11.7,7.5,1.3,0.8,3.6,Nikola Jokic C
7,50.6,"$10,200",4.96,32.67,21.8,9.4,9.8,1.6,0.4,3.3,Russell Westbrook PG
9,50.5,"$9,600",5.26,35.19,26.8,8.5,5.5,2.1,0.6,3.0,Kawhi Leonard SF
...,...,...,...,...,...,...,...,...,...,...,...
387,0.0,"$5,500",0,0.00,0.0,0,0.0,0.0,0.0,0.0,Marcus Morris SF/PF
389,0.0,"$3,000",0,0.11,0.0,0,0.0,0.0,0.0,0.0,Damian Jones C
391,0.0,"$3,000",0,0.00,0.0,0,0.0,0.0,0.0,0.0,Abdel Nader SF
393,0.0,"$3,000",0,0.12,0.0,0,0.0,0.0,0.0,0.0,Cristiano Felicio C
395,0.0,"$3,000",0,0.10,0.0,0,0.0,0.0,0.0,0.0,Elijah Hughes SF

In [248]:
df_analysis_clean.to_csv("numberfire.csv", sep = ',')

time.sleep(3)

driver.quit()